body{
    background-color: #FAFAFA;
}
p{
    margin: 8px;
}

.empleados{
    width: fit-content;
    margin: 24px auto;
}

.empleado{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);   
    display: flex;
    flex-direction: row;
    margin: 16px auto 16px auto;
    align-items: center;
    border-radius: 8px;
    background-color: white;
}
.info{
    display: flex;
    flex-direction: column;
}

.more-info{
    display: flex;
    flex-direction: row;
}

.avatar{
    height: 100px;
    width: auto;
    padding: 4px 0;
}

.more-info>p{
    font-weight: 500;
}
.more-info>p+p{
    background-color: cadetblue;
    padding: 2px 6px;
    color: white;
    font-weight: 500;
    border-radius: 4px;
}