.crono {
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
    margin: 15% auto;
    box-shadow: 0px 2px 3px 2px #ccc;
  }
  
  .crono .header {
    border-bottom: 2px solid #bbb;
    background: #e0e0e0;
    text-align: center;
  }
  
  .crono .header h2 {
    margin: 0;
    padding: 4px 0;
  }
  
  .crono .timer {
    background: #000;
    color: #0f0;
    font-size: 50px;
    text-align: center;
    font-family: Lucida, Console, monospace;
  }
  
  .crono .actions {
    margin: 0;
    padding: 20px;
    text-align: center;
    background: #eee;
    border-top: 2px solid #fff;
  }
  
  .crono button {
    padding: 4px 8px;
    background: #f93;
    color: #fff;
    font-weight: bold;
    font-size: 21px;
    border: 2px solid #666;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
  }
  .crono button:hover {
    color: #ff0;
    background: #f00;
  }